body {margin: 0; padding: 0;}
* {box-sizing: border-box;}
.container {
  width: 100%;
  height: 600px;
  text-align: center;
  background: #e8d98b;
  color: blue;
}
  .btn-class {
    appearance: none;
    border: 0;
    border-radius: 12px;
    background: #085210;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
  }
  .infogame{margin: 2px;}
  .public-field {
    width: 416px;
    margin: auto;  
    display: flex;
    flex-wrap: wrap;
  }
    .field {
      width: 100px;
      height: 100px;
      background: rgb(132, 196, 221);
      margin: 2px;
      border-radius: 15px;
      text-align: center;
    }
      .goblin-img {
        width: 70%;
        margin: 10px auto;
      }
      .goblin-img:hover {cursor: 	url("../img/hamm.png"), pointer;}
      